#include "wx/msw/wx.rc"
#include "version.h"

MAINICON   ICON   "1484655605_map.ico"
CHANGELOG  RCDATA "CHANGELOG.html"
TOOLCHAIN  RCDATA "TOOLCHAIN.html"

//https://msdn.microsoft.com/en-us/library/aa381058.aspx?f=255&MSPPError=-2147217396

1 VERSIONINFO
FILEVERSION     VERSION_MAJOR,VERSION_MINOR,VERSION_REVISION,VERSION_BUILD
PRODUCTVERSION  VERSION_MAJOR,VERSION_MINOR,VERSION_REVISION,VERSION_BUILD
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040704E4"
    BEGIN
      VALUE "CompanyName", VER_COMPANY_NAME_STR
      VALUE "FileDescription", VER_FILE_DESCRIPTION_LONG_STR
      VALUE "FileVersion", VER_FILE_VERSION_STR
      VALUE "InternalName", VER_EXEC_FILENAME_STR
      VALUE "LegalCopyright", VER_COPYRIGHT_STR
      VALUE "OriginalFilename", VER_INTERNAL_NAME_STR
      VALUE "ProductName", VER_PRODUCTNAME_STR
      VALUE "ProductVersion", VER_PRODUCT_VERSION_STR
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0407, 1252
  END
END
